<h1 class="text-center mt-4">Andamento da matrícula</h1>
<table class="table text-center table-info">
    <tr>
        <td>Quantidade de alunos no curso: <%= @qtd %></td>
    </tr>
    <tr>
        <td>Percentual de alunos matriculados: <%= (@qtd_matriculados*100)/@qtd %>% </td>
    </tr>
    <tr>
        <td>Número médio de créditos por aluno: <%=  @creditos_matriculados/@qtd_matriculados %></td>
    </tr>
</table>
