<h1 class="text-center mt-4">Relatórios:</h1>
<div class="row justify-content-md-center">
    <%= link_to "Andamento da matrícula", relatorios_andamento_path, class: "btn btn-primary btn-grade"%>
</div>

<div class="row justify-content-md-center">
    <%= link_to "Relatório de disciplinas", disciplinas_path, class: "btn btn-primary btn-grade"%>
</div>

<div class="row justify-content-md-center">
    <%= link_to "Relatório de alunos", relatorios_alunos_path, class: "btn btn-primary btn-grade"%>
</div>