<div class="container" id="home-container">
  <div class="jumbotron text-center ">
    <h1 class="display-4"> Sistema de Matrículas</h1>

    <button class= "btn btn-success btn-lg">Sign up!</button>
  </div>
</div>


